<mat-toolbar>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <span>SiS-Odonto</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <button mat-button class="menu-button" (click)="selectedMenu('home')">
      <mat-icon>home</mat-icon>
      <span>Página inicial</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>event</mat-icon>
      <span>Agenda</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Pacientes</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>work</mat-icon>
      <span>Consultas</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon style="color: red">person</mat-icon>
      <span>Dentistas</span>
    </button>
    <mat-divider></mat-divider>
    <button
      mat-button
      [matMenuTriggerFor]="menuConfigurations"
      class="menu-button"
    >
      <mat-icon>build</mat-icon>
      <span>Configurações</span>
    </button>
    <mat-menu #menuConfigurations>
      <button mat-menu-item class="menu-item">
        <mat-icon>business</mat-icon>
        <span>rede</span>
      </button>
      <button mat-menu-item class="menu-item">
        <mat-icon>store</mat-icon>
        <span>clínica</span>
      </button>
      <button mat-menu-item class="menu-item">
        <mat-icon>store</mat-icon>
        <span>clínicas-exames</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="menu-item">
        <mat-icon>store</mat-icon>
        <span>especialidades</span>
      </button>
      <button mat-menu-item class="menu-item">
        <mat-icon>store</mat-icon>
        <span>convenios</span>
      </button>
      <button mat-menu-item class="menu-item">
        <mat-icon>exame</mat-icon>
        <span>exames</span>
      </button>
      <button mat-menu-item class="menu-item">
        <mat-icon>exame</mat-icon>
        <span>procedimento</span>
      </button>
      <button mat-menu-item class="menu-item">
        <mat-icon>pay</mat-icon>
        <span>formas de pagamento</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item class="menu-item">
        <mat-icon>exame</mat-icon>
        <span>status consulta</span>
      </button>
      <button mat-menu-item class="menu-item">
        <mat-icon>exame</mat-icon>
        <span>status pagamento</span>
      </button>
    </mat-menu>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Ajuda</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="toggleMenu()">
      <mat-icon *ngIf="!showMenu"> visibility_on </mat-icon>
      <mat-icon *ngIf="showMenu"> visibility_off </mat-icon>
      <span>menu</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <app-agenda></app-agenda>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
