<div class="main">
  <div class="container">
    <h1>Escola em casa</h1>
    <br />
    <div class="middle">
      <div id="login">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <fieldset class="clearfix">
            <label for="id" class="control-label label-style">Id</label>  
            <p>                
                <span class="fa fa-user">
                  <i class="material-icons">account_circle</i>
                </span>
                <input type="text" Placeholder="Id Aluno" formControlName="idLogin" id="idLogin"/>
                <app-field-valid-value [showError]="validTouched('idLogin')" messageError="Digite o Id"></app-field-valid-value>
              </p>
            <!-- JS because of IE support; better: placeholder="Username" -->
            <label for="password" class="control-label label-style">Senha</label>  
            <p>
              <span class="fa fa-lock">
                <i class="material-icons">lock</i>
              </span>
              <input type="password" Placeholder="Senha" formControlName="passwordLogin" id="passwordLogin"/>
              <app-field-valid-value [showError]="validTouched('passwordLogin')" messageError="Digite a senha"></app-field-valid-value>
            </p>
            <div>
              <span
                style="width: 48%; text-align: left; display: inline-block;"
              >
                <a class="small-text" href="#">Esqueceu a senha?</a>
              </span>
              <span class="btn-submit">
                <input type="submit" value="Acessar" />
              </span>
            </div>
          </fieldset>
          <div class="clearfix"></div>
        </form>

        <div class="clearfix"></div>
      </div>
      <!-- end login -->
      <div class="logo">
        <img src="./../../../assets/images/logo.png" alt="logo" />

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
